extends ../layouts/default

block intro
	.container
		h1 Marking
+flash-messages(messages)
block content
	.container
		if enquirySubmitted
			h3 Thanks for getting in touch.
		else
			.row: .col-sm-8.col-md-6
				form(method='post')
					input(type='hidden', name='action', value='marking')
					.form-group
						label Name
						input(type='text',readonly=true,name='name.first', value=user.name.first).form-control
					.form-group
						label Stuid
						input(type='text',readonly=true,name='stuid', value=user.name.last).form-control
					.form-group
						label Marking to
						select(name='markingto').form-control
							option(value='') (select one)
							each post in locals.data.posts.results 
								option(value=post.title, selected=formData.markingto == post.title)= post.title
					.form-group
						label Score
						input(type='number',name='score',placeholder="<=100").form-control
					.form-group
						label Reason
						textarea(name='reason', placeholder='your marking reason' rows=4).form-control= formData.message
					.form-actions
						button(type='submit').btn.btn-primary Send
